<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>پروژه اول</title>
    <link rel="stylesheet" href="../content/css/prefixed-style.css"/>
    <!--[if lt IE 9]>
    <script src="../content/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<div class="outer-container">

    <header class="header">

        <div class="header-top inner-container">

            <div class="logo">

                <img src="../content/images/logo-rp.png" class="mylogo" alt="This is a Logo">

            </div>

            <div class="menu">

                <a class="menu-button"><i class="fa fa-bars fa-2x"></i></a>
                <ul class="nav">

                    <li class="nav-item"><a href="#" class="nav-link">خانه</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">درباره ما</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">خدمات</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">تماس با ما</a></li>

                </ul>

            </div>

        </div>

        <div class="header-bottom">

            <div class="banner">

                <h2 class="banner__title">قالب هایی برای شرکت شما</h2>
                <p class="banner__subtiltle">وب سایت برای شرکت</p>
                <div class="banner__date-time">

                    <time class="date">1 دی 97</time>
                    <time class="time">ساعت 17</time>

                </div>

                <a href="#" class="banner__singup">ثبت نام</a>

            </div>

        </div>


    </header>

    <main class="main">

        <div class="welcome-recent">

            <section class="welcome inner-padding">

                <div class="welcome-caption">

                    <h3 class="welcome-caption__title">خوش آمدید به وب سایت ما</h3>

                </div>

                <div class="welcome-content">

                    <div class="welcome-content__info">

                        <p class="welcome-content__info--text">این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما</p>

                    </div>

                </div>

                <div class="welcome-readmore">

                    <a href="#" class="welcome-readmore__btn">اطلاعات بیشتر</a>

                </div>

            </section>

            <section class="recent-works inner-padding">

                <div class="recent-caption">

                    <h3 class="recent-caption__title">کارهای اخیر</h3>

                </div>

                <div class="recent-content">


                    <div class="recent-content__info">

                        <p class="recent-content__info--text-one">این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما</p>
                        <p class="recent-content__info--text-two">این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما این دمو هستش و بسیار ممنونم از شما</p>

                    </div>

                </div>

                <div class="recent-direction">

                        <span class="arrow arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span class="arrow arrow-left"><i class="fa fa-arrow-left"></i></span>

                </div>

            </section>

        </div>

        <section class="service inner-padding">

            <div class="service-caption">

                <h3 class="service-caption__title">سرویس ها و خدمات</h3>
                <p class="service-subcaption">بسیار عالی و پیگر</p>

            </div>

            <div class="service-box">


                <div class="service-box__item">

                    <span><i class="fa fa-user-secret"></i></span>
                    <h4 class="service-box__title">امنیت شبکه</h4>
                    <p class="service-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                </div>

                <div class="service-box__item highlight">

                    <span class="highlight-icon"><i class="fa fa-paint-brush"></i></span>
                    <h4 class="service-box__title">طراح UI & UX</h4>
                    <p class="service-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>


                </div>

                <div class="service-box__item">

                    <span><i class="fab fa-android"></i></span>
                    <h4 class="service-box__title">برنامه نویس آندروید</h4>
                    <p class="service-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>


                </div>

                <div class="service-box__item">

                    <span><i class="fa fa-phone"></i></span>
                    <h4 class="service-box__title">پشتیبانی</h4>
                    <p class="service-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>


                </div>

            </div>

        </section>

        <section class="feather inner-padding">

            <div class="feather-caption">

                <h3 class="feather-caption__title">ویژگی ها</h3>
                <p class="feather-subcaption">خاص</p>

            </div>

            <div class="feather-box">

                <div class="feather-box__item feather-img-1">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/3.jpg" alt="img1">-->

                    <div class="feather-box-content">

                        <h4 class="feather-box__title">زیبا</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

                <div class="feather-box__item feather-img-2">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/3.jpg" alt="img1">-->
                    <div class="feather-box-content">

                        <h4 class="feather-box__title">دلپسند</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

                <div class="feather-box__item feather-img-3">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/3.jpg" alt="img1">-->
                    <div class="feather-box-content">

                        <h4 class="feather-box__title">مهم</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

                <div class="feather-box__item feather-img-4">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/4.png" alt="img1">-->
                    <div class="feather-box-content">

                        <h4 class="feather-box__title">ویژه</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

                <div class="feather-box__item feather-img-5">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/4.png" alt="img1">-->
                    <div class="feather-box-content">

                        <h4 class="feather-box__title">ویژه</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

                <div class="feather-box__item feather-img-6">

                    <div class="feather-container-icon">

                        <a href="#"><i class="fa fa-share-alt"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>

                    </div>

                    <!--<img class="feather-img" src="../content/images/4.png" alt="img1">-->
                    <div class="feather-box-content">

                        <h4 class="feather-box__title">ویژه</h4>
                        <p class="feather-box__subtitle">برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی برای بهتر دیده شدن کافیست خوب کار کنی</p>

                    </div>

                </div>

            </div>

        </section>

        <section class="people inner-padding">

            <div class="people-caption">

                <h3 class="people-caption__title">نظرات کاربران</h3>

                <div class="people-image">

                    <img class="people-image__avatar" src="../content/images/face.png" alt="people">
                    <h5 class="people-name">رضا پوینده خرم</h5>

                </div>

            </div>

            <div class="people-content">

                    <div class="people-comment">

                        <p>ممنون از شما که خیلی زحمت کشیدید و اینکه سایت شما از همه نظر خیلی خوبه ممنون از شما که خیلی زحمت کشیدید و اینکه سایت شما از همه نظر خیلی خوبه ممنون از شما که خیلی زحمت کشیدید و اینکه سایت شما از همه نظر خیلی خوبه ممنون از شما که خیلی زحمت کشیدید و اینکه سایت شما از همه نظر خیلی خوبه ممنون از شما که خیلی زحمت کشیدید و اینکه سایت شما از همه نظر خیلی خوبه</p>

                    </div>

                    <div class="people-direction">

                        <span class="arrow color"><i class="fa fa-arrow-right"></i></span>
                        <span class="arrow color"><i class="fa fa-arrow-left"></i></span>

                    </div>

            </div>

        </section>

        <section class="contact inner-padding">

            <div class="contact-top">

                <div class="contact-caption">

                    <h3 class="contact-caption__title">تماس با ما</h3>
                    <p class="contact-subcaption">پیگیر سوالات شما</p>

                </div>

                <form action="#" class="contact-form">

                    <input type="text" placeholder="نام خود را وارد کنید">
                    <input type="email" placeholder="ایمیل خود را وارد کنید">
                    <input type="number" placeholder="ایمیل خود را وارد کنید">
                    <textarea rows="7" placeholder="متن خود را وارد کنید"></textarea>
                    <a href="#" class="contact-form__btn">ارسال</a>

                </form>

            </div>

            <div class="contact-bottom">

                <div class="contact-caption-bottom">

                    <h4 class="contact-caption-bottom__title">تماس با ما</h4>

                    <address class="contact-address">

                        <p><i class="fa fa-address-card address-icon"></i>تهران</p>

                        <div class="address-right-padding">

                            <p>خیابان موفقیت</p>
                            <p>کوچه تلاش</p>
                            <p>آدرس پستی : 12345678</p>

                        </div>

                    </address>

                    <p><i class="fa fa-phone address-icon"></i>تلفن : 02112345678</p>
                    <p><i class="fab fa-google-plus address-icon"></i>آدرس ایمیل : fsr3717@gmail.com</p>

                </div>

            </div>

        </section>

        <section class="map-address">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25922.001183071836!2d51.36431915058269!3d35.69546144797106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0114595e43e9%3A0x44a8f656c150a927!2sMeydan-e+Vali+Asr+Station!5e0!3m2!1sen!2s!4v1544862657598" frameborder="0" style="border:0" allowfullscreen></iframe>

        </section>

    </main>

    <footer class="footer">

        <div class="newsletter inner-container">

            <div class="newsletter-caption">

                <h4 class="newsletter-title">ثبت نام خبرنامه</h4>
                <p class="newsletter-subtitle">اخبار جدید سایت را پیگیری کنید</p>

            </div>

            <div class="newsletter-singup">

                <form action="#" class="newsletter-form">

                    <input class="newsletter-input" type="text" placeholder="ایمیل خود را وارد کنید">
                    <a href="#" class="newsletter-singup__btn"><i class="fab fa-telegram-plane"></i></a>

                </form>

            </div>

            <div class="newsletter-icon">

                <a href="#"><i class="fab fa-telegram fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-google-plus fa-2x"></i></a>

            </div>

            <div class="newsletter-copyright">

                <p>طراحی قالب توسط : رضا پوینده خرم آذر ماه 1397</p>

            </div>

        </div>

    </footer>

</div>

<script src="../content/js/jquery-3.1.1.min.js"></script>
<script src="../content/js/jreza.js"></script>
<script src="../content/js/all.min.js"></script>

</body>
</html>